//
//  Develop.xcconfig
//  MultipleChannel
//
//  Created by HChong on 2017/5/14.
//  Copyright © 2017年 HChong. All rights reserved.
//


#include "Pods/Target Support Files/Pods-MultipleChannel/Pods-MultipleChannel.develop.xcconfig"

HOST1 = @"HOST1/Develop"

HOST2 = @"HOST2/Develop"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) HOST2='$(HOST2)'
