//
//  Enterprise.xcconfig
//  MultipleChannel
//
//  Created by HChong on 2017/5/14.
//  Copyright © 2017年 HChong. All rights reserved.
//

#include "Pods/Target Support Files/Pods-MultipleChannel/Pods-MultipleChannel.enterprise.xcconfig"

HOST1 = @"HOST1/Enterprise"

HOST2 = @"HOST2/Enterprise"

DisplayName = APPEnt

Icon = JieHe

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) HOST2='$(HOST2)' HOST1='$(HOST1)' Icon='$(Icon)'
